!set syntax=xdefaults

URxvt*saveLines: 10000

!Appearence
URxvt.geometry: 150x40
URxvt*scrollBar: false

!Fonts config
URxvt.font: xft:Hack:size=11
URxvt.boldFont: xft:Hack:size=11

!BG and FG colours
URxvt*foreground: #f2f2f2
URxvt*background: #101010

!Extensions
URxvt.perl-ext-common: default,matcher,fullscreen,resize-font,solarized

!Open links with left mouse click (or with tmux-o)
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!Fullscreen mode with Alt-F11, apparently
URxvt.keysym.F11: perl:fullscreen:switch

!Paste content with Ctrl-Shift-P (Copy with tmux)

!Font resize with Ctrl+ and Ctrl- (Ctrl= to reset)

!Solarized themes
URxvt.perl-ext-common:      solarized
URxvt.keysym.M-c:			perl:solarized:toggle
URxvt.solarized.default:    dark
