!set syntax=xdefaults

URxvt*saveLines: 10000

!Appearence
URxvt.geometry: 150x40
URxvt*scrollBar: false

!Fonts config
URxvt.font: xft:Hack:size=11
URxvt.boldFont: xft:Hack:size=11

!BG and FG colours
URxvt*foreground: #f2f2f2
URxvt*background: #101010

!Extensions
URxvt.perl-ext-common: default,matcher,fullscreen,resize-font,solarized

!Open links with left mouse click (or with tmux-o)
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!Fullscreen mode with Alt-F11, apparently
URxvt.keysym.F11: perl:fullscreen:switch

!Paste content with Ctrl-Shift-P (Copy with tmux)

!Font resize with Ctrl+ and Ctrl- (Ctrl= to reset)

!Solarized themes
!URxvt.perl-ext-common:      solarized
!URxvt.keysym.M-c:			perl:solarized:toggle
!URxvt.solarized.default:    dark

!Apprentice colour scheme
*.foreground: #BCBCBC
*.background: #262626
*.color0:     #1C1C1C
*.color8:     #444444
*.color1:     #AF5F5F
*.color9:     #FF8700
*.color2:     #5F875F
*.color10:    #87AF87
*.color3:     #87875F
*.color11:    #FFFFAF
*.color4:     #5F87AF
*.color12:    #8FAFD7
*.color5:     #5F5F87
*.color13:    #8787AF
*.color6:     #5F8787
*.color14:    #5FAFAF
*.color7:     #6C6C6C
*.color15:    #FFFFFF
