# KS secret configuration
ks/

# OS stats
allPackages.txt
installedPackages.txt
ppasList.txt

shells/aliases/aliases
shells/aliases/abbrs

# Obsidian config files
obsidian/plugins/
sync.json
workspace

*.log
*.lock
*.tmp
*.temp
*.swp
tags
