/* Font for the markdown source panel */
div .markdown-source-view {
    /* font-family: var(--font-family-editor); */
    font-family: "Hack";
    /*font-size: calc(var(--editor-font-size) * 1.2);*/
    font-size: 1em;
}

/* Font for the markdown preview panel */
div .markdown-preview-view {
    /* font-family: var(--font-family-preview); */
    font-family: "Overpass";
}
